<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NavServerBasicHttpSecure">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://navserver2.navtor.com/ENCSync.svc"
                binding="basicHttpBinding" bindingConfiguration="NavServerBasicHttpSecure"
                contract="ENCSyncClient.IENCSync" name="NavServerBasicHttpSecure" />
        </client>
    </system.serviceModel>
</configuration>